// Mixins Here

.btn-mixin(@width, @padding-v, @padding-h) {
    background-color: @btn-bg-color;
    color: #FFF;
    width: @width;
    padding: @padding-v @padding-h;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 5px;
    font-weight: bold;
}
